<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="tests.Iframe"/>
      <class name="tests.Dropdowns"/>
      <class name="tests.various"/>
      <class name="tests.HandlingCalendar"/>
      <class name="tests2.Certifications"/>
      <class name="tests.Synchronization"/>
      <class name="tests.AjaxChildWindowsIframes"/>
      <class name="tests2.Screenshot"/>
      <class name="tests.Alerts"/>
      <class name="tests.Locators"/>
      <class name="tests2.HandlingBrowser"/>
      <class name="tests.ArrayProducts"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
